# CosmosDB Configuration
export COSMOSDB_NAME=webappcontest001
export COSMOSDB_URI=https://webappcontest001.documents.azure.com:443
export COSMOSDB_KEY=lmaj7lSxbzIvbMa3920yCXNzvpDzNi9acMi6oyzUNJOLMlMIUVadXzTN7L6zAvefuUtxmrVqZwYsShWgMTNEAw==
export COSMOSDB_DBNAME=testdb

# App Service Linux Configuration
export RESOURCE_GROUP=rg_webappcon_java
export WEBAPP_NAME=webappconjava001
export REGION=japaneast
export APP_SERVICE_PLAN_NAME=appplanjavajapaneast

# Azure Container Registry Configuration
export ACR_NAME=yoichikaacr001

